.image {
    width: 150px;
  }
  
  .btn-info {
    margin-bottom: 7px;
    padding: 5;
    background-color: gold;
    border-radius: 10%;
    height: 25px;
    font-family: verdana;
  }
  
  .list-name {
    word-wrap: flex;
    font-weight: bold;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
  }